@import './assets/scss/bootstrap-variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: #000 !important;
}

.nav-icon {
  font-size: 20px;
}

.song-card-background {
  cursor: pointer;
  background-color: $card-inactive-background;
}

.song-card-background:hover {
  background-color: $card-hover-background;
  border-radius: $card-border-radius;
}

.author {
  color: $secondary;
  font-size: $font-size-small;
}